<?xml version="1.0"?>
<config>
	<modules>
		<Magiccart_Shopbrand>
			<version>0.1.0</version>
		</Magiccart_Shopbrand>
	</modules>
	<frontend>
		<routers>
			<shopbrand>
				<use>standard</use>
				<args>
					<module>Magiccart_Shopbrand</module>
					<frontName>shopbrand</frontName>
				</args>
			</shopbrand>
		</routers>
		<layout>
			<updates>
				<shopbrand>
					<file>magiccart/shopbrand.xml</file>
				</shopbrand>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
<!-- 			<shopbrand>
				<use>admin</use>
				<args>
					<module>Magiccart_Shopbrand</module>
					<frontName>shopbrand</frontName>
				</args>
			</shopbrand> -->
            <adminhtml>
                <args>
                    <modules>
                        <shopbrand after="Mage_Adminhtml">Magiccart_Shopbrand</shopbrand>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
    <adminhtml>
		<layout>
			<updates>
				<shopbrand>
					<file>magiccart/shopbrand.xml</file>
				</shopbrand>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <shopbrand>
                <class>Magiccart_Shopbrand_Model</class>
                <resourceModel>shopbrand_mysql4</resourceModel>
            </shopbrand>
            <shopbrand_mysql4>
                <class>Magiccart_Shopbrand_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>magiccart_shopbrand</table>
                    </brand>
                </entities>
            </shopbrand_mysql4>
        </models>
        <resources>
            <shopbrand_setup>
                <setup>
                    <module>Magiccart_Shopbrand</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shopbrand_setup>
            <shopbrand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shopbrand_write>
            <shopbrand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shopbrand_read>
        </resources>
        <blocks>
            <shopbrand>
                <class>Magiccart_Shopbrand_Block</class>
            </shopbrand>
        </blocks>
        <helpers>
            <shopbrand>
                <class>Magiccart_Shopbrand_Helper</class>
            </shopbrand>
        </helpers>
        <events>
        	<controller_front_init_routers>
        		<observers>
        			<shopbrand>
        				<class>Magiccart_Shopbrand_Controller_Router</class>
        				<method>initControllerRouters</method>
        			</shopbrand>
        		</observers>
        	</controller_front_init_routers>
        </events>
    </global>
    <default>
        <shopbrand>
            <general>
                <enabled>1</enabled>
                <title>Brands</title>
                <!-- Setting Display Slider -->
                <slide>1</slide>
                <vertical>0</vertical>
                <auto>1</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1000</speed>
                <pause>100</pause>
                <rows>1</rows>
                <moveSlides>1</moveSlides>
				<marginColumn>30</marginColumn>
                <slideWidth>255</slideWidth>

                <!-- Setting Display Brands -->
                <portrait>1</portrait>
                <landscape>2</landscape>
                <tablet>3</tablet>
                <desktop>4</desktop>
                <visibleItems>5</visibleItems>
                <heightImages>100</heightImages>
                <widthImages>150</widthImages>
            </general>
            <product>
                <!-- Setting Display Slider -->
                <slide>1</slide>
                <vertical>0</vertical>
                <auto>1</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1000</speed>
                <pause>100</pause>
                <rows>1</rows>
                <slideWidth>255</slideWidth>

                <!-- Setting Display Brands -->
                <portrait>1</portrait>
                <landscape>2</landscape>
                <tablet>3</tablet>
                <desktop>4</desktop>
                <visibleItems>5</visibleItems>
                <marginColumn>30</marginColumn>
                <productDelay>500</productDelay>
                <limit>10</limit>
                <heightImages>255</heightImages>
                <widthImages>255</widthImages>
                <action>cart,compare,wishlist,review</action>
            </product>
        </shopbrand>
    </default>
</config>

